
services:
  osrm:
    image: osrm/osrm-backend:latest
    container_name: osrm
    ports:
      - "5000:5000"
    volumes:
      - ./osrm-data:/data
    command: osrm-routed /data/argentina-251114.osrm
    restart: unless-stopped